.entity.ship1, .entity.ship2,
.entity.ship1 .img, .entity.ship2 .img {
  width: 43px;
  height: 33px;
}
.entity.ship1 .img, .entity.ship2 .img{
  background: url('../images/green_ship.png');
}
.entity.ship3, .entity.ship3 .img{
  width: 43px;
  height: 36px;
}
.entity.ship3 .img{
  background: url('../images/green_healer.png');
}

.entity.bx {
  width: 34px;
  height: 35px;
  background: url('../images/red_ship.png');
}

.actionbars .attack {
  background: url('../images/attack.png');
}

