.stage {
  width: 800px;
  height: 500px;
  margin: 20px auto;
  border: 4px solid black;
  background: url(../images/bg.png);
  position: relative;
}
.actionbars {
  position: absolute;
  top: 0;
  left: 0;
}
.actionbars>li {
  display: none;
}
.actionbars li.selected {
  display: block;
}
.chars, .actionbars {
  width: 800px;
  overflow: hidden;
}
.chars {
  background: #ccc;
  margin: 10px auto;
}
.chars li, .actionbars li ul li {
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  float: left;
  margin: 0 5px 0 0;
}
.chars li {
  background-color: white;
}
.chars li.selected {
 border: 2px solid green; 
}
.chars img {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  opacity: .3;
}
.chars p.health {
  position: absolute;
  width: 40px;
  font-weight: bold;
  text-align: center;
  font-size: 10px;
  bottom: 0;
}