body {
  background: #3d3d3d;
}
.stage {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  border: 6px solid black;
  background: url(../images/bg.png);
  position: relative;
}
.actionbars {
  position: absolute;
  top: 0;
  left: 0;
}
.actionbars>li {
  display: none;
}
.actionbars li.selected {
  display: block;
}
.bind {
  position: absolute;
  color: white;
  font-size: 14px;
}
.actionbars .attack .bind {
  bottom: 2px;
  right: 2px;
}
.chars li .bind {
  top: 2px;
  left: 2px;
  color: black;
}
.chars, .actionbars {
  width: 800px;
  overflow: hidden;
}
.chars {
  background: black;
  margin: 10px auto 0 auto;
  border: 6px solid black;
}
.chars li, .actionbars li ul li {
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid #3d3d3d;
  float: left;
  margin: 5px;
}
.chars li {
  background-color: white;
}
.chars li.dead {
  background: red;
}
.chars li.dead .bind {
  display: none;
}
.chars li.selected {
 border: 2px solid green; 
}
.chars img {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  opacity: .3;
}
.chars p.health {
  position: absolute;
  width: 40px;
  font-weight: bold;
  text-align: center;
  font-size: 10px;
  bottom: 0;
}