body {
  background: #3d3d3d;
}
.stage {
  width: 800px;
  height: 500px;
  border: 6px solid black;
  position: absolute;
  top: 20px;
  overflow: hidden;
}
.stage .buttons {
  position: absolute;
  top: 0;
  left: 0;
}
.stage .buttons ul {
  
}
.actionbars>li {
  display: none;
}
.actionbars li.selected {
  display: block;
}
.bind {
  position: absolute;
  color: white;
  font-size: 14px;
}
.actionbars .bind {
  bottom: 2px;
  right: 2px;
}
.chars, .actionbars {
  overflow: hidden;
}
.chars li, .actionbars li ul li {
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid #3d3d3d;
  float: left;
  margin: 5px;
}
.actionbars canvas {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.chars li {
  color: white;
  background: rgba(0,0,0,.6);
}
.chars li .bind {
  top: 2px;
  left: 2px;
}
.chars li.dead {
  background: red;
}
.chars li.dead .bind {
  display: none;
}
.chars li.selected {
  border: 2px solid green;
  background: rgba(0,0,0,1);
}
.chars img {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  opacity: .6;
}
.chars p.health {
  position: absolute;
  width: 40px;
  font-weight: bold;
  text-align: center;
  font-size: 10px;
  bottom: 0;
}

.stage .bb {
  position: absolute;
}
.entity {
  border: 3px solid rgba(0,0,0,0);
  border-radius: 100px;
  position: absolute;
}
.entity.selected {
  border: 3px solid rgba(0,125,0,.6);
  border-radius: 100px;
}
.entity.img {
  position: absolute;
  top: 0;
  left: 0;
}
.bb .health, .bb .bar {
  position: absolute;
  width: 80%;
  height: 5px;
  display: block;
  border-radius: 2px;
}
.bb .health {
  background-color: red;
  bottom: -20px;
  left: 10%;
}
.bb .health .bar {
background-color: green;
}

.stage #effects {
  position: absolute;
  top: 0;
  left: 0;
}

h1.victory {
  font-size: 30px;
  font-family: Helvetica;
  position: absolute;
  top: 20px;
  width: 800px;
  text-align: center;
  color: white;
  display: none;
}